<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day19_my03/src/com/songpeng/dao/UserDaoImpl.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.songpeng.dao.UserDaoImpl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day19_my03"/>
</launchConfiguration>
